<app-nav></app-nav>
<h1 class="text-center mb-3 mt-3">Events</h1>
<div class="container border rounded">
    <div class="border-bottom ">
        <app-event-categ [event_type]="event_type"></app-event-categ>
    </div>
    <div class="border-bottom">
        <app-event-sub-categ [event_type]="event_type"></app-event-sub-categ>
    </div>
    <div class="row">
        <div class="col-sm-9">
                <h4 *ngIf="this.event_details.length===0; else elseBlock" class="position-absolute top-50 start-50 translate-middle" >No Events to display</h4>
                <ng-template #elseBlock>
                    <div *ngIf="this.event_type.event_sub_cat==='Archived'; else elseBlock">
                        <div class="row">
                            <div *ngFor="let detail of event_details" class="col-sm-6 mt-4 mb-4 ">
                                <app-event-item [detail]="detail"></app-event-item>
                            </div>
                        </div>
                    </div>
                    <ng-template #elseBlock>
                        <div class="row ">
                            <div *ngFor="let detail of event_details" class="col-sm-6 mt-4 mb-4">
                                <app-event-display [detail]="detail"></app-event-display >
                            </div>
                        </div>
                    </ng-template>
                </ng-template>
        </div>
        <div class="col-sm-3">
            <app-tag-lis [event_type]="event_type"></app-tag-lis>
        </div>
    </div>
</div>
  
 <!-- Footer -->
 <footer class="page-footer font-small blue">
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2022 Event Management</div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->