<nav class="navbar  navbar-expand-lg bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" [routerLink]="['/events']" [queryParams]="{event_category:'All_Events',event_sub_category:'Upcoming'}">Events</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page"[routerLink]="['/events']" [queryParams]="{event_category:'All_Events',event_sub_category:'Upcoming'}">Events</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/about">About</a>
          </li>
        </ul>
        
        <div *ngIf="this.token===null; else elseBlock">
            <form class="form-inline">
                <a class="btn btn-outline-success my-2 my-sm-0 mx-1" routerLink="/login">Log In</a>
                <a class="btn btn-outline-success my-2 my-sm-0 mx-1" routerLink="/signup">Sign Up</a>
            </form>
        </div>
        <ng-template #elseBlock>
            <div>   
                <form class="form-inline">
                    <a class="btn btn-outline-success my-2 my-sm-0 mx-1" (click)="logout()">Log Out</a>
                </form>
            </div>
        </ng-template>
          
      </div>
    </div>
  </nav>